@model Vehicles.API.Models.VehiclePhotoViewModel

@{ ViewData["Title"] = "Create"; }

<h2>Adicionar</h2>

<h4>Foto Vehículo</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddVehicleImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehicleId" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" style="float: left;text-align: center;border-radius: 60px;"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-primary" style="float: left;text-align: center;border-radius: 60px;"/>
                <a asp-action="EditVehicle" asp-route-id="@Model.VehicleId" class="btn btn-outline-success" style="float: left;text-align: center;border-radius: 60px;">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
